<%= simple_form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :first_name, :required => true, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :last_name, :required => true, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :email, :required => true, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :password, :required => true, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :confirm_password, :required => true, input_html: { class: 'form-control'}  %>
  </div>
  <h3 class="newUser">If you are a tradesman continue on.</h3>
  <div class="form-group">
    <%= f.input :company_name, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :trade, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :rate, input_html: { class: 'form-control'}  %>
  </div>
  <div class="form-group">
    <%= f.input :qualifications, input_html: { class: 'form-control'}  %>
  </div>
  <%= f.button :submit, class: "btn btn-info" %>
<% end %>
