<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password_digest, :required => true  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_digest, :required => true  %>
  </div>
  <h3 class="newUser">If you are a tradie continue on.</h3>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :trade %><br>
    <%= f.text_field :trade %>
  </div>
  <div class="field">
    <%= f.label "Rate $per/h" %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    <%= f.label :qualifications %><br>
    <%= f.text_area :qualifications %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
