
<!-- Main jumbotron for a primary marketing message or call to action -->
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1W_PZDArK46FW21IKVhhA2mzM1SfFVSI&libraries=places">
</script>

<script>

     var app = app || {};
     <% if current_user  %>
       app.current_user = <%= current_user.id %>
    <% end %>
</script>

<div class="jumbotron">
  <div class="container">
    <div id="main"></div>
    <div  id="sub" class="sub-invisible"></div>
    <div class="tradieList"></div>
    <div class="userProfile"></div>
  </div>
</div>


 <script type="text/template" id='appViewTemplate'>
   <!-- Search function to find tradies nearby certain areas on certain dates -->
    <h1 class="brand-display">TradieFind</h1>
   <p>Need a tradie fast?</p>
   <p>You've Come To The Right Place!</p>
   <p>
     <%if logged_in? %>
     <form id="homeSearchForm" role="search">
       <div class="form-group">
         <div class="row">
         <div class="col-sm-offset-2 control-label col-sm-4">
           <label  class="search-label">Find Me:</label>
         </div>
         <div class="col-sm-4">
             <select  id="tradeOptions" class="form-control">
              </select>
         </div>
         </div>
       </div>
       <div class="form-group">
       <div class="row">
         <div class="col-sm-offset-2 control-label col-sm-4">
           <label class="search-label" for="comment">Within: </label>
         </div>
           <div class="col-sm-4">
             <select class="form-control" id="distance" placeholder="Location">
               <option value="5">5 km</option>
               <option value="10">10 km</option>
               <option value="15">15 km</option>
               <option value="20">20 km</option>
               <option value="25">25 km</option>
               <option value="30">30 km</option>
               <option value="50">50 km</option>
             </select>
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <label class="radio-inline"><input id="currentAddress"type="radio" name="optradio">My Current Address</label>
           <label class="radio-inline"><input id="homeAddress" type="radio" name="optradio">My Home Address</label>
           <p id="cust_location_label"></p>
           <p id="cust_location_label2"></p>

           <div id="mappy">
           <div id="cust_location_map1"></div>
           </div>

           </div>
       </div>
           <div class="form-group">
               <div class="row">
             <div class="col-xs-offset-3  col-xs-6  ">
               <button id="homeSearchSubmit" type="button" class="btn btn-info  ">Search</button>
           </div>
           </div>
         </div>
         </form>
       <% else %>
         <%= link_to "log in", login_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_path, class:"btn btn-default btn-lg" %>
         <% end %>
 </script>





 <script type="text/template" id='appTradieViewTemplate'>
   <!-- Search function to find tradies nearby certain areas on certain dates -->
    <h1 class="brand-display">Find a Job</h1>
   <p>Need a job in your area?</p>
   <p>You've Come To The Right Place!</p>
   <p>
     <%if logged_in? %>
     <form id="homeSearchForm" role="search">
       <div class="form-group">
       <div class="row">
         <div class="col-sm-offset-2 control-label col-sm-4">
           <label class="search-label" for="comment">Within: </label>
         </div>
           <div class="col-sm-4">
             <select class="form-control" id="distance" placeholder="Location">
               <option value="5">5 km</option>
               <option value="10">10 km</option>
               <option value="15">15 km</option>
               <option value="20">20 km</option>
               <option value="25">25 km</option>
               <option value="30">30 km</option>
               <option value="50">50 km</option>
             </select>
           </div>
         </div>
       </div>
       <div class="form-group">
         <div class="row">
           <label class="radio-inline"><input id="currentAddress"type="radio" name="optradio">My Current Address</label>
           <label class="radio-inline"><input id="homeAddress" type="radio" name="optradio">My Home Address</label>
           <p id="trad_location_label">1</p>
           <div id="trad_location_label2">1</div>
            <div id="trad_location_map1"></div>
           </div>
       </div>
           <div class="form-group">
               <div class="row">
             <div class="col-xs-offset-3  col-xs-6  ">
               <button id="homeSearchSubmit" type="button" class="btn btn-info  ">Search</button>
           </div>
           </div>
         </div>
         </form>
       <% else %>
         <%= link_to "log in", login_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_path, class:"btn btn-default btn-lg" %>
         <% end %>
 </script>

<script id="reviewViewTemplate" type="text/template">
  <h2>Your Reviews</h2>
  <table class="table table-bordered" id="reviewList">
    <tr>
      <th>Tradesman Name</th>
      <th>Comment</th>
      <th>Date Completed</th>
      <th>Rating</th>
    </tr>
  </table>
<br>
<%= link_to "Go Back Home", root_path %>

</script>

 <script id="reviewInputViewTemplate" type="text/template">
   <h2>Write a Review</h2>


   <div class="form-group">
     <label for="inputEmail3" class="col-sm-2 control-label">Rating: </label>
       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
         <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
            <button type="button" class="btn btn-secondary">5</button>
          </div>
        </div>
   </div>

   <div class="form-group">
     <label for="inputComment3" class="col-sm-2 control-label">Comment: </label>
     <div class="col-sm-10">
       <textarea class="form-control" rows="8"></textarea>
   </div>
   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-danger">Submit Review</button>
     </div>
   </div>
 </script>


 <script type="text/template" id='userViewTemplate'>
   <!-- View their own profile and show their current and past reservations-->
     <h1>{{= first_name }}'s Profile</h1>
  <div></div>
    <% if logged_in? %>
   <p><%= image_tag current_user.avatar_url(:display) %></p>
   <p>First Name: {{= first_name }}</p>
   <p>Last Name:{{= last_name }}</p>
   <p>Email: {{= email }}</p>
   <p>Address: {{= address_one }}</p>
   <p>
     {{ if (company_name !== ""){ }}
       Company:{{= company_name }}
     {{ } }}
   </p>
   <p>
     {{ if (trade !== "customer") { }}
       Trade:{{= trade }}
     {{ } }}
   </p>
   <p>
     {{ if (rate !== null) { }}
       Rate:{{= rate }}
     {{ } }}
   </p>
   <p>
     {{ if (phone_no !== null) { }}
       Contact:{{= phone_no }}
     {{ } }}
   </p>
   <p>
     {{ if (qualifications !== "") { }}
       Qualifications:{{= qualifications }}
     {{ } }}
   </p>
   <% end %>
 <%= link_to "Edit", "#edituser" %><br>

 <%= link_to "Back Home", "" %>
 </script>

     <script type="text/template" id='editUserViewTemplate'>
       <div  class= "col-md-6" id = "editUserForm">
            <form method="post" action="/users/{{= id }}" class="form-horizontal" enctype="multipart/form-data" method="post">
              <input type="hidden" name="_method" value="patch">
              <h1>Edit User Profile</h1>


          <div class="form-group row">
            <label for="last_name" class="col-sm-2 form-control-label">Image:</label>
            <div class="col-sm-10">
            <input id="fileInput" type="file" name="user[avatar]">
            </div>
            </div>

          <div class="form-group row">
        <label for="first_name" class="col-sm-2 form-control-label">First Name:</label>
          <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= first_name }}" id="first_name" name="user[first_name]">
         </div>
         </div>


          <div class="form-group row">
         <label for="last_name" class="col-sm-2 form-control-label">Last Name:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= last_name }}" id="last_name" name="user[last_name]">
       </div>
       </div>


          <div class="form-group row">
         <label for="email" class="col-sm-2 form-control-label">Email:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= email }}" id="email"  name="user[email]">
       </div>
       </div>


          <div class="form-group row">
         <label for="company_name" class="col-sm-2 form-control-label">Company:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= company_name }}" id="company_name"  name="user[company]">
       </div>
       </div>


          <div class="form-group row">
         <label for="trade" class="col-sm-2 form-control-label">Trade:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= trade }}" id="trade"  name="user[trade]">
       </div>
       </div>


          <div class="form-group row">
         <label for="rate" class="col-sm-2 form-control-label">Rate/Hr:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= rate }}" id="rate"  name="user[rate]">
       </div>
       </div>


          <div class="form-group row">
         <label for="phone_no" class="col-sm-2 form-control-label">Phone Number:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= phone_no }}" id="phone_no"  name="user[phone_no]">
       </div>
       </div>


          <div class="form-group row">
         <label for="qualifications" class="col-sm-2 form-control-label">Qualifications:</label>
         <div class="col-sm-10">
         <input type="text-area" class="form-control" value="{{= qualifications }}" id="qualifications" name="user[qualifications]">
       </div>
       </div>


          <div class="form-group row">
         <label for="address_one" class="col-sm-2 form-control-label">Unit/House #:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= address_one }}" id="address_one"  name="user[address_one]">
       </div>
       </div>


          <div class="form-group row">
         <label for="address_two" class="col-sm-2 form-control-label">Suburb:</label>
         <div class="col-sm-10">
         <input type="text" class="form-control" value="{{= address_two }}" id="address_two" name="user[address_two]">
       </div>
       </div>

         <button id="saveEditUser" class="btn btn-info">Save</button>

        </form>
        </div>
      </script>


<!--  -->
 <script type="text/template" id='reservationViewTemplate'>
   <p>Name: </p>
   <p>Company Name: </p>
   <p>Phone Number: </p>
   <p>Price: </p>
   <p>Rating: </p>
 <button id="cancel-reservation">Cancel Reservation</button>
 <button id="confirm-reservation">Confirm Reservation</button>
 <%= link_to 'Go Back Home', root_path  %>
 </script>

 <script type="text/template" id='reservationListViewTemplate'>

   <h2>You Reservations</h2>
   <table class="table table-bordered" id="resList">
     <tr>
       <th>Name</th>
       <th>Company</th>
       <th>Jobs status</th>
       <th>Distance to you</th>
       <th>
      </th>
     </tr>
   </table>
   <button id="cancel-reservation">Cancel Reservation</button>
   <button id="confirm-reservation">Confirm Reservation</button>
   <br>
   <%= link_to 'Go Back Home', root_path  %>
 </script>


<!--  -->
 <script type="text/template" id='confirmationViewTemplate'>
     <h2>Thank You <%%= app.current_user.name %%>. The "tradie" has been notified of your request.</h2>
     <p>Name: </p>
     <p>Company Name: </p>
     <p>Phone Number: </p>
     <p>Price: </p>
     <p>Rating: </p>
     <p><%= link_to 'Go Back Home', root_path  %></p>
 </script>



<!-- Added for dev only not the final form -->
 <!-- <script type="text/template" id='quotesViewTemplate-OLD'>
   <h1>Quotes view (dev)</h1>
   <ul id="quoteData"></ul>
   <p><%= link_to 'Go Back Home', root_path  %></p>
 </script> -->




 <script type="text/template" id="contactUsViewTemplate">
      <h2>Contact Us</h2>
        <div class="row">
          <div class="col-md-6">
      <h5>
         If you have a question or would like more information, we'd love to hear from you.
         Simply contact us through the methods below or complete the enquiry form and we'll get back
         to you as soon as possible.
      </h5>
      <h5>Our Office</h5>
      <h5> Unit 1/999 Joel Turnbull Drive, Butterfly Park </h5>
      <h5> Phone: 1300 000 000 </h5>
      <h5> Fax: (00) 0000 0000 </h5>
      </div>

 <div  class= "col-md-6">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="Name3" class="col-sm-2 control-label">Name: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName3" placeholder="Name">
          </div>
        </div>

 <div class="form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
   <div class="col-sm-10">
     <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
   </div>
 </div>

 <div class="form-group">
   <label for="inputComment3" class="col-sm-2 control-label">Comment: </label>
   <div class="col-sm-10">
     <textarea class="form-control" rows="5"></textarea>
 </div>
 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button type="submit" class="btn btn-danger">Send</button>
   </div>
 </div>

</form>
</div>
</div>
</div>
</div>

      <!-- <%= render 'form' %> -->


      <%= link_to 'Back Home', root_path %>
    </script>

    <script type="text/template" id="thankYouViewTemplate">
          <h2>Thank You For Contacting Us</h2>
          <br>
                 <p> Your query has been lodged. </p>
                 <p> We will get back to you as soon as possible. </p>
                 <br>
                 <br>
                 <%= link_to 'Go Back Home', root_path  %>

        </script>


  <script type="text/template" id="TradieListViewListAllTemplate">
       <h4>Tradesmen near you</h4>
       <table class="table table-bordered" id="reviewListOfTradies">
         <tr>
           <th>Name</th>
           <th>Company</th>
           <th>Jobs completed</th>
           <th>Ratings</th>
           <th>Distance to you</th>

         </tr>
       </table>
  </script>

  <script type="text/template" id="TradieListViewInfo">
    <span type="text/template" id="TradieListViewDetails">
    </span>
  </script>

  <script type="text/template" id="policyViewTemplate">
    <h2>Terms and Conditions: User Agreement</h2>
    <br>
    <p>Below are the terms and conditions of use for TradieFind. This Agreement describes the terms and conditions applicable to your use of our services available under the domain and sub-domains. If you do not agree to be bound by the terms and conditions of this Agreement, do not use or access our services.</p>
    <br>
    <h3>Services & User Eligibility</h3>
    <p>TradieFind provides a link for businesses and consumers. It allows tradespeople and the general public to request and provide quotes for goods and services. Builders, tradespeople and suppliers registered with TradieFind can provide quotes for goods and services requested by any person accessing this site. This site is for any person over the age of 18 and our services are available only to those who can form legally binding contracts under applicable law.</p>
    <br>
    <h3>Provide Accurate Information</h3>
    <p>
      You agree to provide true, accurate and complete information as prompted by the registration and/or job request forms. Whenever you submit any information to the site (including but not limited to submitting a request for services, applying to register your services), you agree to provide true, accurate and complete information. TradieFind reserves the right to discard your request/s upon the discovery that the information you provided or submitted is not complete or accurate.</p>
    <br>
    <h3>Disclaimer of Liability</h3>
    <p>
      We are not liable to you or anyone else for any loss you incur in connection with use of this site or any linked site. To the extent permitted by applicable law, all representations, warranties, other terms and liability are excluded. In particular, we make no representation or warranty as to the reliability, accuracy or relevance of any of the information on this site (including information contained in requests for quotes or quotes submitted), or the merchantability or fitness for purpose of any of the service providers and their services offered through this site. As we are not involved in the dealings between users and service providers, we are unable to guarantee the quality of the goods or services provided, the accuracy or veracity of the dealings, or the ability of a party to provide or pay for (as the case may be) requested goods or services, and we exclude liability for any loss incurred in relation to these. All workmanship is the service providers responsibility and TradieFind will not be held liable or become involved in any litigation arising from any service provider responding to any job lead. You use this site and other linked sites at your own risk. We endeavor to provide a convenient and functional site, but we do not guarantee that it will be error free or that the site or the server that operates it are free of viruses or other harmful components. We urge you to keep backup copies of material you use with the site. Without limiting the foregoing, everything on the site (including but not limited to, third party applications and site content) is provided to you “AS IS” and “AS AVAILABLE” without warranty or condition of any kind, either express or implied, including, but not limited to, any implied warranties or conditions of title, merchantability, fitness for a particular purpose, or non-infringement. TradieFind makes no warranty any goods or services purchased or obtained through the site or any transactions entered into through the site. No advice or information, whether oral or written, obtained by user from TradieFind or through the site shall create any warranty not expressly made herein.
    </p>
    <br>
    <%= link_to 'Back Home', root_path %>
  </script>

  <script type="text/template" id="paymentViewTemplate">
      <h2>Pay Your Invoice</h2>
      <br>
      <% if logged_in? %>
      <p>First Name: <%= current_user.first_name %></p>
      <p>Last Name: <%= current_user.last_name %></p>
      <p>Address: <%= current_user.address_one %></p>
      <p>Suburb: <%= current_user.address_two %></p>
      <br>
      <h4>Please make sure the above details are correct before proceeding with payment</h4>
      <!-- <button id="processPayment">Proceed</button> -->
      <br>
      <button onclick="window.location.href='/charges/new'">Proceed</button>
      <br>
      <br>
      <% end %>
      <%= link_to "Go Back Home", root_path %>
  </script>

  <script type="text/template" id="archiveViewTemplate">
    <div class="wrap">

<h2>Archive of Past Jobs</h2>

<br>
<h3>Completed on 10/04/2016</h3>
<p>
  <iframe width="480" height="300" src="https://www.youtube.com/embed/HzR29XWG-nc?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</p>
<br>
<h3>Completed on 16/03/2016</h3>
<p>
  <iframe width="480" height="300" src="https://www.youtube.com/embed/cSeOJZ13XVo?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</p>
<br>
<h3>Completed on 01/03/2016</h3>
<p>
  <iframe width="480" height="300" src="https://www.youtube.com/embed/C0Dsfup0SKk?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</p>
<br>
<%= link_to "Back Home", root_path %>
</div>
  </script>

  <script type="text/template" id='faqViewTemplate'>

           <h2>Frequently Asked Questions</h2>
           <br>
           <h3>Why did the panda chase the butterfly?</h3>
           <p>
             Lorem ipsum they met, consectetur adipisicing about elit. Sed quae ipsum
             similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
              aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et
            </p>
            <br>
           <h3>How do I know the tradesman is trustworthy?</h3>
           <p>
             You can check the reviews and ratings that they have recieved from past
             jobs that they have completed.
            </p>
            <br>
            <h3>How do I make payments?</h3>
            <p>
              You can pay them through our secure payment system located in the "somewhere".
              Once there, you can follow the prompts and your payment will be processed.
             </p>
             <br>
             <h3>Lorem this Lorem that</h3>
             <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
               similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
                aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et
             </p>
             <br>
             <%= link_to 'Go Back Home', root_path %>
       </script>

       <script id="ViewReservationViewTemplate" type="text/template">
         <h2>My Reservation List</h2>
         <table class="table table-bordered" id="reservations">
           <tr>
             <th>id</th>
             <th>user_id</th>
             <th>quote_id</th>
             <th>Status</th>
           </tr>
         </table>
       </script>

       <script id="quotesViewTemplate" type="text/template">
            <div class="row">
            <h3>Quotes For Reservation</h3>
            <table class="table table-bordered" id="quotes">
              <tr>
                <th>Id</th>
                <th>Reservation</th>
                <th>user_id</th>
                <th>Start Time</th>
                <th>Estimated Duration</th>
              </tr>
            </table>
            </div>
            <%= link_to 'Go Back Home', root_path  %>
       </script>
